body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  padding: 20px;
}

h2 {
  margin-bottom: 15px;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  padding: 15px;
  border-radius: 16px;
  margin-bottom: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}
